{% extends 'base.html' %}
{% block head %}
    <title>Choose page</title>
{% endblock %}

{% block body %}
<div>
    <h1>Wybierz lub wprowadź nawzę miasta albo regionu, gdzie odbędzie się wycieczka</h1>
    <form class="centered-form row" id="region_form" action="/region" method="POST">
        <div class="col-lg-6">
            {% for option in options %}
                <div class="item">
                    <input class="not-displayed select-checkbox" name="region_radio" id="{{ option[1]  }}" type="radio"
                           value="{{ option[0] }}-{{ option[1] }}">
                    <label class="base-label" for="{{ option[1]  }}">{{ option[1] }}, {{ option[0] }}</label>
                </div>
            {% endfor %}
            <br>

            <button class="base-button" type="submit" form="region_form">Dalej</button>
        </div>
        <div class="col-lg-6">
            <label class="base-label" for="region_text"></label>
            <input id="region_text" name="region_text" type="text">
            <button class="base-button " type="submit" form="region_form">Dalej</button>
        </div>
    </form >
</div>
{% endblock %}
