{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/choose_region.css') }}">

    <title>Wirtualne Biuro Informacji Turystycznej</title>
{% endblock %}

{% block body %}
<div>
    <h1>Wybierz miasto albo region, gdzie odbędzie się wycieczka</h1>
    <form class="centered-form row" id="region_form" method="POST">
        <div class="container">
            {% for option in options %}
                <div class="item">
                    <input class="not-displayed select-checkbox" name="region_radio" id="{{ option[1]  }}" type="radio"
                           value="{{ option[0] }}-{{ option[1] }}">
                    <label class="label" for="{{ option[1]  }}">{{ option[1] }}</label>
                </div>
            {% endfor %}
            <br>
            <div>
                <button class="base-button" type="submit" form="region_form">Dalej</button>
            </div>

        </div>
        <div class="container">
            <div class="single_item">
                <label class="base-label h3" for="region_text"> Jeśli miejsce wycieczki nie znajduje się na liście, to wprowadź je poniżej </label>
                <input id="region_text" name="region_text" type="text">
                <button class="base-button " type="submit" form="region_form">Dalej</button>
            </div>

        </div>
    </form >
</div>
{% endblock %}
