{% extends 'base.html' %}
{% block head %}
    <title>Choose page</title>
{% endblock %}

{% block body %}
<div>
    <h1>Wybier lub wprowadź nawzę miasta albo regionu, gdzie chcesz spędzić wycieczkę</h1>
    <form class="form" id="region_form" action="/region" method="POST">
        <div class="container">
            {% for option in options %}
                <div class="item">
                    <input class="not-displayed select-checkbox" name="region_{{ option[0]}}-{{ option[1] }}" id="{{ option[1]  }}" type="radio">
                    <label class="base-label" for="{{ option[1]  }}">{{ option[1] }}, {{ option[0] }}</label>
                </div>
            {% endfor %}
            <br>

            <button class="base-button" type="submit" form="region_form">Dalej</button>
        </div>
        <div class="container">
            <label class="base-label" for="region"></label>
            <input id="region" type="text">
            <button class="base-button" type="submit" form="region_form">Dalej</button>
        </div>
    </form >
</div>
{% endblock %}
