<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Default page</title>

</head>
<body>
{% set selected = categories[0] %}
<form  action="/map" method="get">
    <div class="container">
        {% for main_category in categories %}
            {% for category in main_category["sub_categories"] %}
                <div class="item">
                    <input name="{{ category["code"]  }}" id="{{ category["code"]  }}" type="checkbox">
                    <label for="{{ category["code"]  }}">{{ category["name"]  }}</label>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <button type="submit">Szukaj</button>
</form>
<style>
    .container{
        display: flex;
        flex-direction: column;
        width: 30%;
    }
</style>
</body>
</html>
