{% extends 'base.html' %}
{% block head %}
    <title>Wirtualne Biuro Informacji Turystycznej</title>
{% endblock %}

{% block body %}
<body>
    <h1> Chatbot WiBIT</h1>

    <div class="row justify-content-center chatbot-block">

        {% for message in messages %}
            {% if message.author == 'bot' %}
                <div class="message-chatbot col-11 col-md-9 col-lg-7">
                    <h4>WiBIT</h4>
                    <div class="inner-message-chatbot inner-message">
                        {{ message.text }}
                    </div>
                </div>

            {% elif message.author == 'user' %}
                <div class="message-user col-11 col-md-9 col-lg-7">
                    <h4>{{ user_name }}</h4>
                    <div class="inner-message-user inner-message">
                        {{ message.text }}
                    </div>
                </div>

            {% elif message.author == 'bot_final' %}
                <div class="message-chatbot col-11 col-md-9 col-lg-7">
                    <h4>WiBIT</h4>
                    <div class="inner-message-chatbot inner-message">
                        <p> {{ message.text }} </p>
                        <div>
                            <a href="{{url_for('show_suggested')}}" class="trip-additional-button button-in-chatbot">
                                Pokaż moją wycieczkę
                                <!-- Here should be url for newly created trip -->
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        <div class="message-user new-message-container col-11 col-md-9 col-lg-7">
            {% if is_finished %}
                <form id="reset-chatbot-form" action="/reset-chatbot" method="post">
                    <input class="message-submit" type="submit" value="Zacznij od początku">
                </form>
            {% else %}
                <h4>{{ user_name }}</h4>
                <form method="POST">
                    <textarea id="message-textarea" name="user_text" rows="3" required="required"></textarea>
                    <input class="message-submit" type="submit" value="Prześlij">
                </form>
            {% endif %}
        </div>

    </div>

</body>
<script>
    function scrollToBottom() {
      var chatbotBlock = document.querySelector('.chatbot-block');
      chatbotBlock.scrollTop = chatbotBlock.scrollHeight;
    }

    scrollToBottom()
</script>

{% endblock %}
