{% extends 'base.html' %}
{% block head %}
    <title>Wirtualne Biuro Informacji Turystycznej</title>
{% endblock %}

{% block body %}
<body>
    <h1> Chatbot WiBIT</h1>

    <div class="row justify-content-center chatbot-block">

        {% for message in messages %}
            {% if message.author == 'bot' %}
                <div class="message-chatbot col-11 col-md-9 col-lg-7">
                    <h4>WiBIT</h4>
                    <div class="inner-message-chatbot inner-message">
                        {{ message.text }}
                    </div>
                </div>
            {% endif %}

            {% if message.author == 'user' %}
                <div class="message-user col-11 col-md-9 col-lg-7">
                    <h4>{{ user_name }}</h4>
                    <div class="inner-message-user inner-message">
                        {{ message.text }}
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        <div class="message-user new-message-container col-11 col-md-9 col-lg-7">
            <h4>{{ user_name }}</h4>
            <form method="POST">
                <textarea id="message-textarea" name="user_text" rows="3"></textarea>
                <input id="message-submit" type="submit" value="Prześlij">
            </form>
        </div>

    </div>

</body>
{% endblock %}
