<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4b3c34683ad0ac4e91e1dff4b81d0232 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_4b3c34683ad0ac4e91e1dff4b81d0232" ></div>
        
</body>
<script>
    
    
            var map_4b3c34683ad0ac4e91e1dff4b81d0232 = L.map(
                "map_4b3c34683ad0ac4e91e1dff4b81d0232",
                {
                    center: [50.0619474, 19.9368564],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2fb66feafe9bc3e46f28266882a384ce = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4b3c34683ad0ac4e91e1dff4b81d0232);
        
    
            var marker_556ca898256b0676e21e2e414602f644 = L.marker(
                [50.054649353027344, 19.935455322265625],
                {}
            ).addTo(map_4b3c34683ad0ac4e91e1dff4b81d0232);
        
    
            var icon_9e52e7a43801b5edc374b65c69961c65 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_556ca898256b0676e21e2e414602f644.setIcon(icon_9e52e7a43801b5edc374b65c69961c65);
        
    
        var popup_20b3fcfdcb0423604d9476f37ccb619a = L.popup({"maxWidth": "100%"});

        
            
                var html_d9b35e4779cb2608e2cf0329aa185e2d = $(`<div id="html_d9b35e4779cb2608e2cf0329aa185e2d" style="width: 100.0%; height: 100.0%;">Royal Archcathedral Basilica of Saints Stanislaus and Wenceslaus</div>`)[0];
                popup_20b3fcfdcb0423604d9476f37ccb619a.setContent(html_d9b35e4779cb2608e2cf0329aa185e2d);
            
        

        marker_556ca898256b0676e21e2e414602f644.bindPopup(popup_20b3fcfdcb0423604d9476f37ccb619a)
        ;

        
    
    
            var marker_28792cd7283338304352c370468ac564 = L.marker(
                [50.05491256713867, 19.93560028076172],
                {}
            ).addTo(map_4b3c34683ad0ac4e91e1dff4b81d0232);
        
    
            var icon_35cdaf7280da751a4719bfe02f99955e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_28792cd7283338304352c370468ac564.setIcon(icon_35cdaf7280da751a4719bfe02f99955e);
        
    
        var popup_86a2a1d431ca5e13c50de695d33b6040 = L.popup({"maxWidth": "100%"});

        
            
                var html_cd27cf846e625ee22fc7e25471e0e1cf = $(`<div id="html_cd27cf846e625ee22fc7e25471e0e1cf" style="width: 100.0%; height: 100.0%;">Zygmunt's Tower</div>`)[0];
                popup_86a2a1d431ca5e13c50de695d33b6040.setContent(html_cd27cf846e625ee22fc7e25471e0e1cf);
            
        

        marker_28792cd7283338304352c370468ac564.bindPopup(popup_86a2a1d431ca5e13c50de695d33b6040)
        ;

        
    
    
            var marker_9205735319a820c32be1c6c63ea59232 = L.marker(
                [50.053016662597656, 19.9335880279541],
                {}
            ).addTo(map_4b3c34683ad0ac4e91e1dff4b81d0232);
        
    
            var icon_e697ece8ce18019652e5e18e64e1ca99 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9205735319a820c32be1c6c63ea59232.setIcon(icon_e697ece8ce18019652e5e18e64e1ca99);
        
    
        var popup_da8a736016135f8e770c42de71e7beab = L.popup({"maxWidth": "100%"});

        
            
                var html_051067476c6b8aea7959bbb263cc4033 = $(`<div id="html_051067476c6b8aea7959bbb263cc4033" style="width: 100.0%; height: 100.0%;">Smok Wawelski</div>`)[0];
                popup_da8a736016135f8e770c42de71e7beab.setContent(html_051067476c6b8aea7959bbb263cc4033);
            
        

        marker_9205735319a820c32be1c6c63ea59232.bindPopup(popup_da8a736016135f8e770c42de71e7beab)
        ;

        
    
    
            var marker_71f0e6ec90bfb004cd15db324dc39e8e = L.marker(
                [50.05921936035156, 19.936092376708984],
                {}
            ).addTo(map_4b3c34683ad0ac4e91e1dff4b81d0232);
        
    
            var icon_6b8faf5c27b4522b15d1563ed01746bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_71f0e6ec90bfb004cd15db324dc39e8e.setIcon(icon_6b8faf5c27b4522b15d1563ed01746bd);
        
    
        var popup_51eb7c8b96ec0ac58d8160c163c6ad95 = L.popup({"maxWidth": "100%"});

        
            
                var html_e998da13a20793fc3c591e5a021c9287 = $(`<div id="html_e998da13a20793fc3c591e5a021c9287" style="width: 100.0%; height: 100.0%;">Franciscan Church</div>`)[0];
                popup_51eb7c8b96ec0ac58d8160c163c6ad95.setContent(html_e998da13a20793fc3c591e5a021c9287);
            
        

        marker_71f0e6ec90bfb004cd15db324dc39e8e.bindPopup(popup_51eb7c8b96ec0ac58d8160c163c6ad95)
        ;

        
    
    
            var marker_4e36c7e68b4cd62e5c68c21bdd981214 = L.marker(
                [50.05692672729492, 19.939064025878906],
                {}
            ).addTo(map_4b3c34683ad0ac4e91e1dff4b81d0232);
        
    
            var icon_f7769e72d3ff37c0e0994e9edd26e0cb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4e36c7e68b4cd62e5c68c21bdd981214.setIcon(icon_f7769e72d3ff37c0e0994e9edd26e0cb);
        
    
        var popup_280d4a290f51448f8644cb6dd615434f = L.popup({"maxWidth": "100%"});

        
            
                var html_f7e460b7c952c9d7db9d109c14082bad = $(`<div id="html_f7e460b7c952c9d7db9d109c14082bad" style="width: 100.0%; height: 100.0%;">Church of Saints Peter and Paul</div>`)[0];
                popup_280d4a290f51448f8644cb6dd615434f.setContent(html_f7e460b7c952c9d7db9d109c14082bad);
            
        

        marker_4e36c7e68b4cd62e5c68c21bdd981214.bindPopup(popup_280d4a290f51448f8644cb6dd615434f)
        ;

        
    
    
            var marker_b971cc002fd25912ad14026e9744d967 = L.marker(
                [50.06165313720703, 19.939449310302734],
                {}
            ).addTo(map_4b3c34683ad0ac4e91e1dff4b81d0232);
        
    
            var icon_ca1668720ba556d9d7694567e369565c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b971cc002fd25912ad14026e9744d967.setIcon(icon_ca1668720ba556d9d7694567e369565c);
        
    
        var popup_e6a6e3e4689bad19ffda01583a43a231 = L.popup({"maxWidth": "100%"});

        
            
                var html_0f5e795be2c210f6db03c31679916c6d = $(`<div id="html_0f5e795be2c210f6db03c31679916c6d" style="width: 100.0%; height: 100.0%;">St. Mary's Basilica</div>`)[0];
                popup_e6a6e3e4689bad19ffda01583a43a231.setContent(html_0f5e795be2c210f6db03c31679916c6d);
            
        

        marker_b971cc002fd25912ad14026e9744d967.bindPopup(popup_e6a6e3e4689bad19ffda01583a43a231)
        ;

        
    
    
            var marker_9111c0747f85a9b7f67196543f243350 = L.marker(
                [50.06487274169922, 19.941360473632812],
                {}
            ).addTo(map_4b3c34683ad0ac4e91e1dff4b81d0232);
        
    
            var icon_9e603b1c28f7dcc1097f3f7b0a9f3e47 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9111c0747f85a9b7f67196543f243350.setIcon(icon_9e603b1c28f7dcc1097f3f7b0a9f3e47);
        
    
        var popup_e2ae1379e099becbd572e9dde349e97e = L.popup({"maxWidth": "100%"});

        
            
                var html_3d59b6f4b94e0d1f8884a76a5f5e34cd = $(`<div id="html_3d59b6f4b94e0d1f8884a76a5f5e34cd" style="width: 100.0%; height: 100.0%;">Saint Florian's Gate</div>`)[0];
                popup_e2ae1379e099becbd572e9dde349e97e.setContent(html_3d59b6f4b94e0d1f8884a76a5f5e34cd);
            
        

        marker_9111c0747f85a9b7f67196543f243350.bindPopup(popup_e2ae1379e099becbd572e9dde349e97e)
        ;

        
    
    
            var poly_line_a214c0e5546eb9c1e88e93c154efcf42 = L.polyline(
                [[50.054649353027344, 19.935455322265625], [50.05491256713867, 19.93560028076172], [50.053016662597656, 19.9335880279541], [50.05921936035156, 19.936092376708984], [50.05692672729492, 19.939064025878906], [50.06165313720703, 19.939449310302734], [50.06487274169922, 19.941360473632812]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_4b3c34683ad0ac4e91e1dff4b81d0232);
        
</script>
</html>