{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/quick_trip.css') }}">

    <title>Choose page</title>
{% endblock %}

{% block body %}
<div>
    <h1></h1>
    <form class="centered-form row" id="region_form" method="POST">
        <div class="item container">
            <div>
                <label class="base-label h2" for="duration_dropdown"> Wybierz czas trwania wycieczki</label>
                <select id="duration_dropdown" name="duration_dropdown" required>
                    {% for option in options %}
                    <option value={{option['time']}}>{{option['name']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="item container">
            <div>
                <label class="base-label h2" for="region_text">Wprowadź nawzę miasta albo regionu, gdzie odbędzie się wycieczka</label>
                <input id="region_text" name="region_text" type="text">
            </div>
            <div>
                <button class="base-button" type="submit" form="region_form">Dalej</button>
            </div>
        </div>
    </form >
</div>
{% endblock %}
