{% extends 'base.html' %}
{% block head %}
    <title>Suggested trip</title>
    {{map_header|safe}}
{% endblock %}

{% block body %}
<body>
    <div class="row">
        <div class="big-map col-12 col-lg-8">
            {{ map_html|safe }}
            <script>
                {{ map_script|safe }}
            </script>
        </div>

        <div class="col-12 col-lg-4">
            <h2> Trasa wycieczki </h2>
            <form id="save-form" class="not-displayed" action="/" method="post"> </form>
            <form id="opinion-form" class="suggested-form" action="/suggested" method="post">
                {% for place in places %}
                <div class="one-line">
                    <p class="trip-place-name-small"> {{place.name}} </p>
                    <input id="{{place.xid}}" form="opinion-form" class="not-displayed remove-checkbox" type="checkbox"
                           name="remove_{{place.xid}}" value="{{place.xid}}">
                    <label class="base-label" for="{{place.xid}}"> <span>usuń</span> </label>

                </div>
                {% endfor %}


                <h3> Dodatkowe opcje </h3>
                <input class="base-button suggested-form-button" type="submit"
                       form="save-form" value="Zapisz wycieczkę" name="button_approve">
                <input class="base-button suggested-form-button" type="submit" value="Wygeneruj inną wycieczkę" name="button_disapprove">
            </form>

        </div>
    </div>

{% endblock %}
